<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home page</title>
  </head>
  <body>
    <h3>Total no. of users : <%= count %></h3>
    <button>Join us!</button>
  </body>
</html>